@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/Body.css" />
    <link rel="stylesheet" href="~/css/Table.css" />
    <link rel="stylesheet" href="~/css/Button.css" />
    <link rel="stylesheet" href="~/css/Div.css" />
    <link rel="stylesheet" href="~/css/Classes.css" />
</head>

<body>
    <!--  background="~/Back.jpg" ;-->
    <div>
        <div class="status-bar" style="text-align: center;">
            <text style="font-size: 250%;"><b>The Simulation Was Closed</b></text><br><br>
            <text style="font-size: 150%;"><b>Входные данные:</b></text><br>
            <div style="text-align: left;">
                <ul>
                    <li>Лифты: 3</li>
                    <li>Этажи: 12</li>
                    <li>Максимальное кол-во людей в лифте: 3</li>
                    <li>Максимальная скорость лифтов (эт/с): 1.5</li>
                    <li>Максимальное ускорение (м/с<sup>2</sup>): 1</li>
                </ul>
            </div>
            <text style="font-size: 150%;"><b>Выходные данные:</b></text><br><br>
            <table style="margin-left: 40px; border: 1px solid black;">
                <thead>
                    <tr>
                        <th>Номер лифта</th>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>
                            <text>Общее количество поездок</text>
                        </td>

                        <td>
                            <text>10</text>
                        </td>

                        <td>
                            <text>20</text>
                        </td>

                        <td>
                            <text>30</text>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <text>Процент “холостых” поездок</text>
                        </td>

                        <td>
                            <text>10</text>
                        </td>

                        <td>
                            <text>20</text>
                        </td>

                        <td>
                            <text>30</text>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <text>Количество перевезённых людей</text>
                        </td>

                        <td>
                            <text>10</text>
                        </td>

                        <td>
                            <text>20</text>
                        </td>

                        <td>
                            <text>30</text>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div style="text-align: left;">
                <ul>
                    <li>Общее количество поездок: 60</li>
                    <li>Среднее время ожидания лифтов (c): 10 </li>
                    <li>Наибольшее время ожидания лифта (с): 20</li>
                    <li>Суммарное время ожидания лифтов (с): 600</li>
                    <li>Колличество пожарных тревог: 2</li>
                    <li>Cуммарная длительность пожарных тревог (с): 28</li>
                </ul>
            </div>
        </div>
    </div>
    <div style="margin-left: 700px; margin-top: 20px;">
        <button style="color: rgb(0, 0, 0); margin-right: 20%; width: 200px;
                height: 40px; background:rgb(106, 109, 106);
                border-radius: 20px;">
            <b>DOWNLOAD</b>
        </button>
    </div>
</body>
</html>