.create-button {
    background: linear-gradient(to top, rgb(21,32,187), #06c2b2);
    color: white;
    border-radius: 10px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 1%;
    font-size: 200%;
}

.people {
    background: linear-gradient(to right, rgb(60, 187, 21), #04991d);
    border-radius: 50%;
    width: 10px;
    height: 10px;
    padding: 10px;
    margin-left: 2%;
    border: 2px;
    line-height: 10px;
    text-align: center;
}

.lift-background {
    background: rgb(110, 104, 104);
    width: 50px;
    height: 15px;
    padding: 15px;
    margin-left: 1%;
}

.lift {
    position: relative;
    width: 40px;
    height: 45px;
    left: 5px;
    top: -15px;
}

.status-diode {
    background-color: white;
    border-bottom-color: black;
    border: 2px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    text-align: center;
}

.start-pause-stop {
    color: white;
    width: 150px;
    height: 50px;
    background: linear-gradient(to left, rgb(173, 116, 10), #fbff23 );
    border-radius: 20px;
    margin-left: 1300px;
}

.speed {
    color: white;
    width: 60px;
    height: 60px;
    background: linear-gradient(to left, rgb(173, 116, 10), #fbff23 );
    border-radius: 50%;
    margin-top: -320px;
}

.emergency {
    color: white;
    width: 150px;
    height: 50px;
    background-color: red;
    border-radius: 20px;
    margin-left: 1300px;
    margin-top: -250px;
}

.indicator {
    color: white;
    width: 40px;
    height: 40px;
    font-size: 200%;
    margin-left: 1355px;
    margin-top: -190px;
}

.indicator-flats {
    background-color: rgba(0, 0, 0,.85);
    width: 15px;
    height: 15px;
    padding: 15px;
    margin-left: 2px;
}
